* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing:content-box;
    padding: 5%;
    margin:auto;
}

html, body {
    width: 100%;
    height:100%;
  }
  
body {
    background: linear-gradient(-45deg, #8fe979, #81f0ff, #b58dff, #f3f18f);
    background-size: 500% 500%;
    animation: gradient 30s ease-in;
}
  
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header nav {
    float: right;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
}