:root {
    --font-co:#060f22; 
    /* rgb(21, 0, 138); */
    --op-body: 85%;
    --pad-bot: 15px;
    --light-blue: #a4c8ef;
    --darker-blue:#3a5481;
    --deep-blue: #060f22;
    --gold: #ffe998;
    --peach: #f0ceab;
    --off-white: #ededec;
    --section-pad: 50px;
    font-size: 1rem;
}


* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    /* padding-right: 5px; */
    box-sizing: border-box;
    /* color:darkslateblue; */
}


body {
    /* added line height to space things out */
    line-height: 1.7;
    background-color:rgb(245, 243, 220);
    background-image: url("https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80");
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    background-origin:border-box;
    background-size: contain;
    width: 100%;
    height: auto;
    color: var(--deep-blue);
    /* need to edit this later to make look better */
}

section {
  padding: 50px;
}
/* Added thicker white underline beneath section headings */
section h2 {
    text-decoration: underline whitesmoke 3px;
    padding-bottom: var(--pad-bot);
}
img:hover {
    opacity: 75%;
}
.head {
    position:fixed;
    width: 100%;
    top: 0;
    background: linear-gradient(45deg, var(--peach) 0%, var(--gold) 100%);
    z-index: 1000; 
    /* set this high to move header to front */
    display: flex;
    flex-wrap: wrap;
    color: var(--deep-blue);
}
.head > * {
    flex-basis 100%;
}

.head h1 {
    /* position:fixed; */
    font-size: 4em;
    display: flex;
    padding-left: 50px;
}

.navigation {
    display: flex;
}

.navigation ul {
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
}

.navigation > * {
    flex-basis: 100%;
}
.navigation ul li {
    color:var(--font-co);
    font-size: larger;
    /* margin: 10px; */
    display: flex;
    margin-top: 50px;
    margin-right: 20px;
}

h1:hover {
    font-size: 4.1rem;
    text-shadow: 5px 3px 3px #fffaed;
}

/* changing the .name affects positioning of both name and nav panel */
.name {
    /* position: relative; */
    padding: 15px;
}


a {
    color: var(--font-co);

}

a:link {
    color: var(--font-co);
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    /*text-decoration: underline white;*/
    /* background-color: rgb(46, 0, 252); */
    text-transform: uppercase;
    font-size: 1.2rem;
    color: rgb(21, 0, 138);
    background-color: bisque;
    opacity: 100%;
}

a:active {
    text-decoration: underline white;
}

section {
    font-size: 18px;
}

.about-me {
    margin-top: 125px;
    display: flex;
    flex-wrap: wrap;
}

.about-me > *:nth-child(1) {
  flex: 1 1 10%;
}

.about-me > *:nth-child(2) {
  flex: 1 1 70%;
}

.about-me-info {
    display: flex;
    flex-direction: column;
    background-color: var(--gold);
    opacity: var(--op-body);
    padding: 50px;
    border-radius: 10px;
}
/* .about-me img {
    width: 400px; 
    height: auto;
} */

.self-img {
  display: flex;
  justify-content: end;
}

.self-img a {
  display: flex; 
}

.self-img a img {
  max-width: 30vw;
  max-height: 30vh;
  border-radius: 10px;
}

.linkedin-img-hover {
    opacity: 75%;
}

.linkedin-img:hover::after{
    content:"LinkedIn Profile";
    ;
    font-size: 1rem;
    text-transform: none;
}

.education {
    background-color: #a4c8ef;
    opacity: var(--op-body);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} 

.education img {
    width: 200px;
}

.education-head {
    display: flex;
    justify-content: center;
    width: 100%;
}

.education-container {
    display: flex;
    flex-wrap:wrap;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  opacity: var(--op-body);
}

.work-container > * {
  margin-right: 20px;
  margin-bottom: 20px;
}

.work-container > *:nth-child(1) {
  flex: 1 1 5%;
  border-right: 2px var(--darker-blue) solid;  
}

.work-container > *:nth-child(2) {
  flex: 1 1 25%;
  margin-right: 10px;
}
.work-container > *:nth-child(3) {
  flex: 1 1 40%;
}

.work-container > *:nth-child(4) {
  flex: 1 1 30%;
}

.work-container a img {
    min-width: 100px;
    border-radius: 10px;
    object-fit: contain;
    max-width: 40vw;
}

.work-container h3 {
  justify-content: center;
  align-content: end;
}

.work-ethic {
    background-color: var(--peach);
    opacity: var(--op-body);
}

div.school {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.school div {
    display: flex;
    justify-content: center;
    padding-bottom: var(--pad-bot);
}

/* this is the background image */
form {
    display: flex;
    flex-direction: column;
    /* size: 50%; */
    padding: 60px;
    /* background-color: #a4c8ef; */
    opacity: var(--op-body);
    background-image: url("https://images.unsplash.com/photo-1516542076529-1ea3854896f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-origin: border-box;
}
 /* this controls the background image */
.contact-me:hover {
    opacity: 75%;
}

/* this is the contact me box */
.form {
    display: flex;
    flex-direction: column;
    background-color: #a4c8ef;
    opacity: var(--op-body);
    padding: 15px;
    width:fit-content;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #3a5481;
}

.form > * {
    display:flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
}

.form:hover {
    opacity: 100%;
    background-color: #84b8f0;
}

form p {
    margin: 5px;
}

form label {
    margin-right: 5px;
}

.form input, .form textarea {
    border-radius: 5px;
    border:#3a5481 solid 3px;
}
form h3 {
    text-decoration: underline 3px white;
}
button:focus {
    font-style: italic;
}

footer {   
    background-color:#3a5481;
    color: whitesmoke;
}

footer ul {
    list-style-type: none;
}
.footer-links a {
    color: white;
}

.footer-links a:hover {
    background-color: var(--darker-blue);
    color: var(--gold);
}

.footer {
    display: flex;
}
.footer-links {
    display: flex;
    margin: 15px 0px 15px 15px;
}

.footer-links li {
  margin-right: 15px;
}


footer h4{
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
}

.footer-contact {
  margin: 15px;
}

@media screen and (min-width: 350px) and (max-width: 716px) {
    
    .head {
        justify-content: center;
    }

    .head h1 {
        font-size: 2.1rem;
    }
  
    section p, footer p {
        font-size: 0.9rem;
    }
    
    h2 {
      font-size: 1.2rem;
    }
    h3 {
      font-size: 1.0rem;
    }
    .name {
        padding: 0px;
    }
    .navigation ul li {
        justify-content: center;
        font-size: 0.8rem;
        text-decoration: underline 3px var(--off-white) solid;
        margin-top: 0px;
        margin-right: 20px;
        padding-bottom: 10px;

    }

    .navigation ul > * {
        flex-basis: 25%;
    }
    
    .self-img {
        justify-content: center;
    }
}
/* @media screen and (max-width: 900px) {
    
    
} */
@media screen and (min-width: 715px) and (max-width: 911px) {
    .self-img {
        justify-content: center;
    }
    .navigation ul li {
        margin-top: 0px;
    }

}

@media screen and (min-width: 912px) and (max-width: 1965px) {
    .self-img {
        justify-content: center;
    }
}

