:root {
    --font-co:#060f22; 
    /* rgb(21, 0, 138); */
    --op-body: 85%;
    --pad-bot: 15px;
    --light-blue: #a4c8ef;
    --darker-blue:#3a5481;
    --deep-blue: #060f22;
    --gold: #ffe998;
    --peach: #f0ceab;
}


* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    /* padding-right: 5px; */
    scroll-padding: 5px;
    box-sizing: border-box;
    /* color:darkslateblue; */
}


body {
    /* added line height to space things out */
    line-height: 1.7;
    background-color:rgb(245, 243, 220);
    background-image: url("https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80");
    /* background-position: center; */
    background-repeat: no-repeat;
    position: relative;
    background-origin:border-box;
    background-size: contain;
    width: 100%;
    height: auto;
    color:#060f22;
    /* need to edit this later to make look better */
}

/* Added thicker white underline beneath section headings */
section h2 {
    text-decoration: underline whitesmoke 3px;
    padding-bottom: var(--pad-bot);
}

.about-me img {
    width: 400px; 
    height: auto;
}
.nav-bar-container {
    position:fixed;
    width: 100%;
    height:100px;
    top: 0;
    /* margin: 10px; */
    border: rgb(255, 239, 239) 5px solid;
    border-radius: 5px;
    /* background: rgb(2,0,36); */
    background: linear-gradient(45deg, var(--peach) 0%, var(--gold) 100%);
    z-index: 1000; 
    /* set this high to move header to front */
    background-color: white; 
    color:darkslategray;
    
}
/* .head {
    display: flex;
    justify-content: left;
} */
.head h1 {
    /* position:fixed; */
    font-size: 60px;
    font-weight: 700;
    bottom: 15px;
}

.nav-container {
    position: relative;
    /* display: flex;
    justify-content: flex-end;
    align-items: flex-start; */
    bottom:100px; 
    /* bottom moves the nav words up */
    padding: 10px;
}

/* .navigation ul li {
    display: block;
    float: left;
    position: relative;
} */



h1:hover {
    font-size: 70px;
    text-shadow: 5px 3px 3px #fffaed;
}

/* changing the .name affects positioning of both name and nav panel */
.name {
    position: relative;
    margin: 10px 20px;
}


.name:hover::after {
    content: attr(data-name);
    position: absolute;
    background: white;
    color: black;
    padding: 10px;
    top: 0px;
    width: 200px;
    font-size: 14px;
    border-radius: 10px;
    margin-top: 90px;
    text-shadow: none;
    margin-left: -250px;
}

div.nav-container {
    display: flex;
    justify-content: end;
}

.nav-container {
    /* background-color: aliceblue; */
    display:flex;
    /* flex-direction: flex-wrap; */
}

nav .navigation {
    /* display: block;
    float: left; */
} 
.navigation ul {
    list-style-type: none;
    display:flex;
    justify-content: flex-end;

}

.navigation ul li {
    color:var(--font-co);
    font-size: larger;
    justify-content: space-between;
    margin: 10px;
}

a {
    color: var(--font-co);

}

a:link {
    color: var(--font-co);
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline white;
    /* background-color: rgb(46, 0, 252); */
    text-transform: uppercase;
    font-size: x-large;
    color: rgb(21, 0, 138);
    background-color: bisque;
    opacity: 100%;
}

a:active {
    text-decoration: underline white;
}

section {
    font-size: 18px;
}

.about-me {
    
}
.about-me-container {
    background-color:var(--gold);
    opacity: var(--op-body);
    width: 50%;
    font-size: 18px;
    float: right;
    padding: 120px 50px 50px;
}

/* .extraction-img {
    float: right;
}
.lab-img {
    float: right;
} */

.education {
    /* background-color: rgb(188, 188, 255); */
    background-color: #a4c8ef;
    opacity: var(--op-body);
    /* color: darkslategrey; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
} 

.education img {
    width: 200px;
}

.education-head {
    display: flex;
    justify-content: center;
    width: 100%;
}

.education-container {
    display: flex;
    flex-wrap:wrap;
}

div.school {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.school div {
    display: flex;
    justify-content: center;
    padding-bottom: var(--pad-bot);
}

/* this is the background image */
form {
    display: flex;
    flex-direction: column;
    /* size: 50%; */
    padding: 60px;
    /* background-color: #a4c8ef; */
    opacity: var(--op-body);
    background-image: url("https://images.unsplash.com/photo-1516542076529-1ea3854896f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-origin: border-box;
}
 /* this controls the background image */
.contact-me:hover {
    opacity: 65%;
}

/* this is the contact me box */
.form {
    display: flex;
    flex-direction: column;
    background-color: #a4c8ef;
    opacity: var(--op-body);
    padding: 15px;
    width:fit-content;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #3a5481;
}

.form > * {
    display:flex;
    flex-wrap: wrap;
}

.form:hover {
    opacity: 100%;
    background-color: #84b8f0;
}

form p {
    margin: 5px;
}

form label {
    margin-right: 5px;
}

.form input, .form textarea {
    border-radius: 5px;
    border:#3a5481 solid 3px;
}

/* form .email-box {
    margin-left:-0px;
}
form .message-box {
    margin-left: 80px;
} */


/*.container {

}

.introduction h1 {
    font-size: 60px;
    color: white;
}

.introduction nav {
    float: right;
    justify-content: right;
}

.introduction nav ul {
}

.introduction nav ul li {
    display: inline;
    list-style-type: none;
} */

footer {   
    background-color:#3a5481;
    color: whitesmoke;
}
footer ul {
    list-style-type: none;
}
footer li {

}
/* footer h3 {
    font-size: small;
} */

/* need to edit the items inside this so they appear in line */
/* .contact-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: gainsboro;
} */

/* .contact-container h2 {
    padding-top: 15px;
} */

/* 
.contact-container h3 {
    display: flex;
    justify-content: center;  
} */
.footer {
    display: flex;
}

footer h3{
    display: flex;
    justify-content: center;
}